.container-magic {
  z-index: 3;
  background: linear-gradient(#52a2bf 0%, #5fb3d1 15.123%, #fff 100%);
  flex-flow: column;
  flex: none;
  place-content: center;
  align-items: center;
  gap: 60px;
  width: 100%;
  height: 100vh;
  padding: 100px 64px 104px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.magic-shadow {
  box-shadow: 0 0.5rem 1rem #638fd2 !important;
}

.bg-linear-grad-magic {
  background: linear-gradient(
    -0.00000137024deg,
    #ffffffe6 -19%,
    #e7ecf8e6 100%
  );
}

.headline {
  font-family: "TASA Orbiter Display Bold", sans-serif;
  font-size: 56px;
  line-height: 64px;
  
  letter-spacing: 0;
  text-align: center;
  color: #ffffff;
  margin: 0;
  white-space: pre-line;
}
